._logo {
  width: 5vw;
  background-image: url('gnome-logo.svg');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.25rem;
  flex: 1 1 auto;
}



._navigation-btn-grp {
  width: 100%;
}

._header {
  z-index: $headerZ;
  top: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: $headerHeight;
  background: $headerBackground;
  border-bottom: 1px solid $headerBorder;
  pointer-events: all;

  @extend %border-box;
  @extend %user-select-none;
}

._leftheader {
  display: flex;
  flex-wrap: wrap;
  background-color: $headerBackground;
}

._leftheader-inner {
  z-index: 20;
  background-color: $headerBackground;
  height: $headerHeight;

  flex: 1 1 auto;
  display: flex;
}



//
// Header
//

._header-left {
  float: left;
  height: 100%;
}

._header-right {
  float: right;
  height: 100%;
}

._header-btn {
  position: relative;
  flex: 0 0 auto;
  width: 2.25rem;
  height: 100%;
  color: $textColorLight;
  text-align: center;

  &[hidden] {
    display: none;
  }

  &[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
  }

  > svg {
    width: 1.5rem;
    height: 1.5rem;
    @extend %svg-icon;
  }
}

//
// Menu
//

$tailsize: 20px;

._menu {
  position: absolute;
  z-index: 1;
  top: $headerHeight;
  right: 0.5rem;
  width: 8.5rem;
  height: calc(11.75rem + 1px);
  white-space: nowrap;
  word-wrap: normal;
  overflow-wrap: normal;
  font-size: 0.875rem;
  background: transparent;
  transition: opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 1ms;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;

  ._menu-tail {
    height: $tailsize / 2;
    width: $tailsize;
    position: absolute;
    top: 0;
    right: 0.25rem;
    display: flex;
  }

  $menuInnerIndex: 59;

  ._menu-tail svg {
    z-index: $menuInnerIndex + 1;
    stroke: $focusBorder;
    fill: $contentBackground;
    height: $tailsize / 2;
    width: $tailsize;
    stroke-width: 100px / $tailsize * 2px;
  }

  ._menu-inner {
    z-index: $menuInnerIndex;
    position: absolute;
    top: ($tailsize / 2) - 1.6px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $focusBorder;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(black, 0.05);
    background: $contentBackground;
  }

  ._menu-inner a:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 1px;
  }

  ._menu-inner a:first-child {
    margin-top: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &.active {
    transition-duration: 250ms;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  &:focus-within,
  ._menu-btn:focus + & {
    transition-duration: 250ms;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

._menu-btn {
  float: right;
}

._menu-btn svg {
  fill: white;
}

._menu-title {
  margin: 0;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: $boldFontWeight;
  letter-spacing: -0.5px;
  background: $sidebarBackground;
  border-bottom: 1px solid $sidebarBorder;
  border-radius: 2px 2px 0 0;
}

._menu-title-link,
._menu-title-link:hover {
  display: block;
  padding: 0.5rem 1rem;
  color: $focusText;
  text-decoration: none;
}

._menu-link {
  display: block;
  padding: 0 1rem;
  line-height: 2.25rem;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $focusText;
    text-decoration: none;
    background: $sidebarBackground;
  }

  &:last-child {
    border-radius: 0 0 2px 2px;
  }
}

//
// Search form
//
._search {
  height: 3rem;
  margin-left: 1px;
  margin-right: 1px;
  transition: margin-top 0.2s linear;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0.5rem;
  @extend %border-box;

  > svg {
    position: absolute;
    z-index: 1;
    top: 0.875rem;
    left: 0.875rem;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0.42;
    @extend %svg-icon;

    @if $style == 'dark' {
      fill: white;
    } @else {
      fill: black;
    }
  }
}

._search-input {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 0.75rem 1px 1.75rem;
  font-size: 0.875rem;
  background: $contentBackground;
  border: 1px solid;
  border-color: darken($headerBorder, 2%);
  border-radius: 3px;

  &:focus {
    outline: 0;
    @if $inputFocusBorder {
      border-color: $inputFocusBorder;
      box-shadow: 0 0 1px $inputFocusBorder;
    }
  }

  &[disabled] {
    background: $sidebarBackground;
    cursor: not-allowed;
  }
}

// todo find a better place for this

._search-clear {
  display: none;
  position: absolute;
  top: 0.5em;
  right: 0.5rem;
  width: 1.75rem;
  height: 2rem;
  opacity: 0.42;
  @extend %hide-text;

  &:hover {
    opacity: 0.7;
  }

  > svg {
    position: absolute;
    top: 0.5rem;
    left: 0.375rem;
    @extend %svg-icon;
  }

  @if $style == 'dark' {
    > svg {
      fill: white;
    }
  } @else {
    > svg {
      fill: black;
    }
  }
  ._search-active > & {
    display: block;
  }
}

._search-tag {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0.875rem;
  left: 0.875rem;
  padding: 0 0.375rem;
  line-height: 1.25rem;
  max-width: 50%;
  font-size: 0.8125rem;
  color: $textColorDark;
  background: darken($headerBackground, 5%);
  border-radius: 2px;
  @extend %truncate-text;
}
