._path {
  position: absolute;
  z-index: $noticeZ - 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 .375rem;
  font-size: .875rem;
  background: $pathBackground;
  box-shadow: inset 0 1px $pathBorder;

  ._sidebar-hidden & { left: 0; }

  ~ ._container { padding-bottom: 2rem; }
  a:focus { outline: 0; }
}

._path-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 .375rem;
  color: $textColor;
  text-decoration: none;

  &:first-child:before {
    content: '';
    float: left;
    width: 1rem;
    height: 1rem;
    margin: .5rem .375rem 0 0;
    @extend %doc-icon;
  }
}

._path-arrow {
  display: inline-block;
  vertical-align: top;
  width: .75rem;
  height: .75rem;
  margin: .625rem .25rem;
  fill: #888;
}
