//
// Sidebar
//

._sidebar-inner {
  border-right: 2px solid #efefe9;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  ._overlay-scrollbars & {
    padding-top: 0;
    top: $headerHeight;
  }

  body:not(._native-scrollbars) & {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: unset;
      border: 0;
    }
    &::-webkit-scrollbar-thumb {
      border-width: 3px;
      &:hover,
      &:active {
        border-width: 2px;
      }
    }
  }
} //body:not(._native-scrollbars) ._sidebar-inner::-webkit-scrollbar-track

._sidebar {
  position: relative;
  z-index: $sidebarZ;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: $sidebarBackground;
  background-clip: content-box;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; // IE 10 doesn't support pointer-events
  @extend %border-box;
  @extend %user-select-none;
  box-shadow: inset -1px 0 $focusBorder;

  &:focus {
    outline: none;
  }

  ._sidebar-hidden & {
    transform: translateX(-95%);
    transform: translateX(calc(0.5rem - 100%));
    opacity: 0;
  }

  &:hover:not(.no-hover),
  &.show {
    transform: none;
    opacity: 1;
  }
}

._resizer {
  z-index: $sidebarZ + 1;
  margin-left: -2px;
  width: 3px;
  cursor: col-resize;

  ._sidebar-hidden & {
    display: none;
  }
  ._sidebar-hidden ._sidebar.show ~ & {
    display: block;
  }
}

//
// List
//

._list {
  margin: 0;
  padding: 0;
  list-style: none;

  @extend %border-box;

  @media #{$mediumScreen} {
    width: $sidebarMediumWidth;
  }

  ._sidebar > & {
    min-height: 100%;
  }

  a:focus {
    outline: 0;
  }
}

._list-title {
  position: relative;
  margin: 0.5rem 0 0;
  padding: 0 0.75rem 0 0.75rem;
  line-height: 2rem;
  font-size: 0.75rem;
  color: $textColorLight;
  text-transform: uppercase;
  cursor: default;
}

._list-title-link {
  display: none;
  float: right;
  font-weight: normal;
  text-transform: none;

  ._list-title:hover > & {
    display: block;
  }
}

._list-item {
  display: block;
  position: relative;
  padding: 0.25rem 0.75rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  cursor: default;
  background: $sidebarBackground;
  @extend %truncate-text;

  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &.focus,
  &.focus:hover,
  &.active,
  &.active:hover {
    color: $focusText;
    background: $focusBackground;
    box-shadow: inset -1px 0 $focusBorder;
  }

  &.active,
  &.active:hover {
    color: $selectionText;
    background: $selectionBackground;
    box-shadow: inset -1px 0 $selectionBorder;
  }

  ._list-text:before {
    float: left;
    margin: 0.25rem 0.625rem 0 0;
    @extend %doc-icon;
  }
}

._list-inner {
  position: relative;
  height: 2rem;
  width: 100%;
  display: flex;
}

._list-text {
  margin: auto 0.25rem;
  display: block;
  pointer-events: none;
  @extend %truncate-text;
}

._list-count,
._list-enable {
  float: right;
  font-size: 0.75rem;
  margin-left: 0.375rem;

  .focus > &,
  .active > & {
    color: inherit;
  }
}

._list-count {
  color: $textColorLighter;
  pointer-events: none;

  ._list-disabled:hover > & {
    display: none;
  }
}

._list-enable {
  display: none;
  color: $linkColor;
  cursor: pointer;
  margin: auto;

  &:hover {
    text-decoration: underline;
  }
  ._list-disabled:hover &,
  ._list-result & {
    display: block;
  }
  ._list-result.active > & {
    margin-right: -1rem;
  }
}

//
// List hierarchy
//

._list-dir:not(._list-rdir),
%_list-dir {
  padding-left: 0.75rem;
}

._list-disabled {
  @extend %_list-dir;

  &,
  &:hover {
    color: $textColorLight;
  }
  &:before {
    opacity: 0.7;
  }
}

._list-arrow {
  margin: auto 0.25rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  fill: black;
  opacity: 0.4;

  @if $style == 'dark' {
    fill: white;
  }

  &:hover {
    opacity: 0.65;
  }

  ._list-rdir > & {
    left: auto;
    right: 0.25rem;
  }

  .open &,
  .open-title & {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

._list-item-no-children:before {
  content: '';
  padding: 0.5rem;
  margin: auto 0.25rem;
}

._list-item ._list-text {
  flex: 1 1;
}

._list-sub {
  display: none;

  ._list-item ._list-text:before {
    content: none !important;
  }

  ._list-item._prog-icon {
    &:before {
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0.5rem;
      margin: auto 0.25rem auto 1rem;
    }
    &._prog-function-icon:before {
      background-image: url('function.png');
    }
    &._prog-property-icon:before {
      background-image: url('property.png');
    }
    &._prog-signal-icon:before {
      background-image: url('signal.png');
    }
    &._prog-variable-icon:before {
      background-image: url('variable.png');
    }
  }

  .open + & {
    display: block;
  }
  > ._list-item {
    padding-left: 1.875rem;
  }
  > ._list-dir,
  > ._list-sub > ._list-item {
    padding-left: 2.25rem;
  }
  > ._list-disabled {
    padding-left: 3.75rem;
  }
  > ._list-dir {
    line-height: 1.375rem;
  }
}

//
// List pagination
//

._list-pagelink {
  color: $linkColor;
  cursor: pointer;

  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
}

//
// Search results
//

._list-result.active {
  padding-right: 1.75rem;

  > ._list-reveal {
    display: block;
  }
  > ._list-count {
    display: none;
  }
}

._list-reveal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0.75rem;
    width: 0.75rem;
    height: 1px;
    background: rgba($selectionText, 0.9);
    box-shadow: 0 -3px rgba($selectionText, 0.9),
      /* top line*/ 0 3px rgba($selectionText, 0.9); // bottom line
  }
}

//
// List note
//

._list-note {
  padding: 0.5rem 0.75rem;
  line-height: 1.25rem;
  font-size: 0.8125rem;
  color: $textColorLight;

  & + & {
    padding-top: 0;
  }
}

._list-note-link {
  cursor: pointer;
}

//
// List hover clone
//

._list-hover.clone {
  position: fixed;
  overflow: visible;
  z-index: $hoverZ;
  left: 0;
  min-width: $sidebarWidth;
  padding: 0.25rem 0.75rem;
  pointer-events: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  @extend %border-box;

  @media #{$mediumScreen} {
    min-width: $sidebarMediumWidth;
  }

  > ._list-text {
    display: inline;
  }

  &:not(._list-result) {
    padding-left: 2.75rem;

    &:before {
      content: none;
    }
  }

  ._list-reveal,
  ._list-enable {
    display: none;
  }
}

//
// List picker
//

._list-picker {
  ._list-item {
    cursor: pointer;
  }
  ._list-sub > ._list-item {
    padding-left: 2.375rem;
  }
}

._list-picker-head {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-right: 1px;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  line-height: 1.5rem;
  font-size: 0.75rem;
  font-weight: $bolderFontWeight;
  color: $textColorLight;
  text-transform: uppercase;
  background: linear-gradient(
    to bottom,
    $sidebarBackground,
    $sidebarBackground 75%,
    rgba($sidebarBackground, 0)
  );
  cursor: default;
}

._list-checkbox {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

._list-link {
  display: block;
  padding: 0.75rem 0;
  font-size: 0.8125rem;
  text-align: center;
  @extend %external-link;

  &:after {
    visibility: hidden;
  }
  &:hover:after {
    visibility: visible;
  }
}
