%svg-icon {
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  fill: currentColor;
}

%doc-icon {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: image-url('docs-1.png');
  background-size: 10rem 10rem;
}

%doc-icon-2 {
  background-image: image-url('docs-2.png') !important;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  %doc-icon {
    background-image: image-url('docs-1@2x.png');
  }
  %doc-icon-2 {
    background-image: image-url('docs-2@2x.png') !important;
  }
}

%darkIconFix {
  @if $style == 'dark' {
    filter: invert(100%) grayscale(100%);
    -webkit-filter: invert(100%) grayscale(100%);
  }
}

/* GNOME-specific icons; put in a separate sprite to avoid merge conflicts. */
/* Create the sprites with
convert public/icons/docs/{appstream,cairo,champlain,cheese,clutter,evince,generic,gnome,goa,gstreamer,gtk,ubuntu,webkit,x}/16.png +append assets/images/gnome-icons.png
convert public/icons/docs/{appstream,cairo,champlain,cheese,clutter,evince,generic,gnome,goa,gstreamer,gtk,ubuntu,webkit,x}/16@2x.png +append assets/images/gnome-icons@2x.png
*/
%gnome-icons {
  background-image: image-url('gnome-icons.png');
  background-size: 14rem 1rem;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  %gnome-icons {
    background-image: image-url('gnome-icons@2x.png');
  }
}

._icon-appstreamglib10 ._list-text:before {
  @extend %gnome-icons;
  background-position: 0 0;
}
._icon-cairo10 ._list-text:before {
  @extend %gnome-icons;
  background-position: -1rem 0;
}
._icon-gtkchamplain012 ._list-text:before,
._icon-champlain012 ._list-text:before {
  @extend %gnome-icons;
  background-position: -2rem 0;
}
._icon-cheese30 ._list-text:before {
  @extend %gnome-icons;
  background-position: -3rem 0;
}
._icon-cally10 ._list-text:before,
._icon-clutter10 ._list-text:before,
._icon-cluttergdk10 ._list-text:before,
._icon-cluttergst20 ._list-text:before,
._icon-clutterx1110 ._list-text:before,
._icon-cogl10 ._list-text:before,
._icon-cogl20 ._list-text:before,
._icon-coglpango10 ._list-text:before,
._icon-coglpango20 ._list-text:before,
._icon-gtkclutter10 ._list-text:before {
  @extend %gnome-icons;
  background-position: -4rem 0;
}
._icon-evincedocument30 ._list-text:before,
._icon-evinceview30 ._list-text:before {
  @extend %gnome-icons;
  background-position: -5rem 0;
}
._icon-dbus10 ._list-text:before,
._icon-fontconfig20 ._list-text:before,
._icon-freetype220 ._list-text:before,
._icon-gl10 ._list-text:before,
._icon-networkmanager10 ._list-text:before,
._icon-nmclient10 ._list-text:before,
._icon-polkit10 ._list-text:before,
._icon-polkitagent10 ._list-text:before,
._icon-telepathyglib012 ._list-text:before,
._icon-win3210 ._list-text:before {
  @extend %gnome-icons;
  background-position: -6rem 0;
}
._icon-atk10 ._list-text:before,
._icon-atspi20 ._list-text:before,
._icon-dbusglib10 ._list-text:before,
._icon-gcab10 ._list-text:before,
._icon-gck1 ._list-text:before,
._icon-gcr3 ._list-text:before,
._icon-gcrui3 ._list-text:before,
._icon-gdata00 ._list-text:before,
._icon-gdkpixbuf20 ._list-text:before,
._icon-gee08 ._list-text:before,
._icon-geocodeglib10 ._list-text:before,
._icon-gio20 ._list-text:before,
._icon-girepository20 ._list-text:before,
._icon-glib20 ._list-text:before,
._icon-gmodule20 ._list-text:before,
._icon-gnomekeyring10 ._list-text:before,
._icon-gobject20 ._list-text:before,
._icon-gom10 ._list-text:before,
._icon-grl02 ._list-text:before,
._icon-grl03 ._list-text:before,
._icon-grlnet02 ._list-text:before,
._icon-grlnet03 ._list-text:before,
._icon-grlpls02 ._list-text:before,
._icon-grlpls03 ._list-text:before,
._icon-gsound10 ._list-text:before,
._icon-gspell1 ._list-text:before,
._icon-gssdp10 ._list-text:before,
._icon-gtkosxapplication10 ._list-text:before,
._icon-gtksource30 ._list-text:before,
._icon-gudev10 ._list-text:before,
._icon-gupnp10 ._list-text:before,
._icon-gupnpdlna20 ._list-text:before,
._icon-gupnpdlnagst20 ._list-text:before,
._icon-gweather30 ._list-text:before,
._icon-gxps01 ._list-text:before,
._icon-ibus10 ._list-text:before,
._icon-json10 ._list-text:before,
._icon-keybinder30 ._list-text:before,
._icon-libxml220 ._list-text:before,
._icon-notify07 ._list-text:before,
._icon-pango10 ._list-text:before,
._icon-pangocairo10 ._list-text:before,
._icon-pangoft210 ._list-text:before,
._icon-pangoxft10 ._list-text:before,
._icon-peas10 ._list-text:before,
._icon-peasgtk10 ._list-text:before,
._icon-poppler018 ._list-text:before,
._icon-rest07 ._list-text:before,
._icon-restextras07 ._list-text:before,
._icon-rsvg20 ._list-text:before,
._icon-secret1 ._list-text:before,
._icon-soup24 ._list-text:before,
._icon-soupgnome24 ._list-text:before,
._icon-tracker10 ._list-text:before,
._icon-trackercontrol10 ._list-text:before,
._icon-trackerminer10 ._list-text:before,
._icon-upowerglib10 ._list-text:before,
._icon-vte00 ._list-text:before,
._icon-vte290 ._list-text:before,
._icon-vte291 ._list-text:before,
._icon-zpj00 ._list-text:before {
  @extend %gnome-icons;
  background-position: -7rem 0;
  @extend %darkIconFix !optional;
}
._icon-goa10 ._list-text:before {
  @extend %gnome-icons;
  background-position: -8rem 0;
}
._icon-gst10 ._list-text:before,
._icon-gstallocators10 ._list-text:before,
._icon-gstapp10 ._list-text:before,
._icon-gstaudio10 ._list-text:before,
._icon-gstbase10 ._list-text:before,
._icon-gstcheck10 ._list-text:before,
._icon-gstcontroller10 ._list-text:before,
._icon-gstfft10 ._list-text:before,
._icon-gstnet10 ._list-text:before,
._icon-gstpbutils10 ._list-text:before,
._icon-gstriff10 ._list-text:before,
._icon-gstrtp10 ._list-text:before,
._icon-gstrtsp10 ._list-text:before,
._icon-gstsdp10 ._list-text:before,
._icon-gsttag10 ._list-text:before,
._icon-gstvideo10 ._list-text:before {
  @extend %gnome-icons;
  background-position: -9rem 0;
}
._icon-gdk20 ._list-text:before,
._icon-gdk30 ._list-text:before,
._icon-gdkx1130 ._list-text:before,
._icon-gtk20 ._list-text:before,
._icon-gtk30 ._list-text:before {
  @extend %gnome-icons;
  background-position: -10rem 0;
}
._icon-appindicator301 ._list-text:before,
._icon-dbusmenu04 ._list-text:before {
  @extend %gnome-icons;
  background-position: -11rem 0;
}
._icon-javascriptcore30 ._list-text:before,
._icon-javascriptcore40 ._list-text:before,
._icon-webkit2webextension30 ._list-text:before,
._icon-webkit2webextension40 ._list-text:before,
._icon-webkit10 ._list-text:before,
._icon-webkit230 ._list-text:before,
._icon-webkit240 ._list-text:before,
._icon-webkit30 ._list-text:before {
  @extend %gnome-icons;
  background-position: -12rem 0;
}
._icon-xfixes40 ._list-text:before,
._icon-xft20 ._list-text:before,
._icon-xlib20 ._list-text:before,
._icon-xrandr13 ._list-text:before {
  @extend %gnome-icons;
  background-position: -13rem 0;
  @extend %darkIconFix !optional;
}

%icon-dir {
  background-position: 0 0;
}
%icon-search {
  background-position: -1rem 0;
}
%icon-link {
  background-position: -2.25rem -0.25rem;
}
%icon-clear {
  background-position: -3rem 0;
}
%icon-path {
  background-position: 0 -1rem;
}
%icon-search-white {
  background-position: -1rem -1rem;
}
%icon-dir-white {
  background-position: -2rem -1rem;
}
%icon-link-white {
  background-position: -3.25rem -1.25rem;
}
%icon-clipboard {
  background-position: 0 -2rem;
}
%icon-clipboard-white {
  background-position: -1rem -2rem;
}
%icon-close-white {
  background-position: -2rem -2rem;
}

._icon-openjdk ._list-text:before {
  background-position: -2rem 0;
}
._icon-codeceptjs ._list-text:before {
  background-position: -3rem 0;
}
._icon-codeception ._list-text:before {
  background-position: -4rem 0;
}
._icon-sqlite ._list-text:before {
  background-position: -5rem 0;
  @extend %darkIconFix !optional;
}
._icon-async ._list-text:before {
  background-position: -6rem 0;
  @extend %darkIconFix !optional;
}
._icon-http ._list-text:before {
  background-position: -7rem 0;
  @extend %darkIconFix !optional;
}
._icon-jquery ._list-text:before {
  background-position: -8rem 0;
  @extend %darkIconFix !optional;
}
._icon-underscore ._list-text:before {
  background-position: -9rem 0;
  @extend %darkIconFix !optional;
}
._icon-html ._list-text:before {
  background-position: 0 -1rem;
}
._icon-css ._list-text:before {
  background-position: -1rem -1rem;
}
._icon-dom ._list-text:before {
  background-position: -2rem -1rem;
}
._icon-dom_events ._list-text:before {
  background-position: -3rem -1rem;
}
._icon-javascript ._list-text:before {
  background-position: -4rem -1rem;
}
._icon-backbone ._list-text:before {
  background-position: -5rem -1rem;
  @extend %darkIconFix !optional;
}
._icon-node ._list-text:before,
._icon-node_lts ._list-text:before {
  background-position: -6rem -1rem;
}
._icon-sass ._list-text:before {
  background-position: -7rem -1rem;
}
._icon-less ._list-text:before {
  background-position: -8rem -1rem;
}
._icon-angularjs ._list-text:before {
  background-position: -9rem -1rem;
}
._icon-coffeescript ._list-text:before {
  background-position: 0 -2rem;
  @extend %darkIconFix !optional;
}
._icon-ember ._list-text:before {
  background-position: -1rem -2rem;
}
._icon-yarn ._list-text:before {
  background-position: -2rem -2rem;
}
._icon-immutable ._list-text:before {
  background-position: -3rem -2rem;
  @extend %darkIconFix !optional;
}
._icon-jqueryui ._list-text:before {
  background-position: -4rem -2rem;
}
._icon-jquerymobile ._list-text:before {
  background-position: -5rem -2rem;
}
._icon-lodash ._list-text:before {
  background-position: -6rem -2rem;
}
._icon-php ._list-text:before {
  background-position: -7rem -2rem;
}
._icon-ruby ._list-text:before,
._icon-minitest ._list-text:before {
  background-position: -8rem -2rem;
}
._icon-rails ._list-text:before {
  background-position: -9rem -2rem;
}
._icon-python ._list-text:before,
._icon-python2 ._list-text:before {
  background-position: 0 -3rem;
}
._icon-git ._list-text:before {
  background-position: -1rem -3rem;
}
._icon-redis ._list-text:before {
  background-position: -2rem -3rem;
}
._icon-postgresql ._list-text:before {
  background-position: -3rem -3rem;
}
._icon-d3 ._list-text:before {
  background-position: -4rem -3rem;
}
._icon-knockout ._list-text:before {
  background-position: -5rem -3rem;
}
._icon-moment ._list-text:before {
  background-position: -6rem -3rem;
  @extend %darkIconFix !optional;
}
._icon-c ._list-text:before {
  background-position: -7rem -3rem;
}
._icon-statsmodels ._list-text:before {
  background-position: -8rem -3rem;
}
._icon-yii ._list-text:before,
._icon-yii1 ._list-text:before {
  background-position: -9rem -3rem;
}
._icon-cpp ._list-text:before {
  background-position: 0 -4rem;
}
._icon-go ._list-text:before {
  background-position: -1rem -4rem;
}
._icon-express ._list-text:before {
  background-position: -2rem -4rem;
}
._icon-grunt ._list-text:before {
  background-position: -3rem -4rem;
}
._icon-rust ._list-text:before {
  background-position: -4rem -4rem;
  @extend %darkIconFix !optional;
}
._icon-laravel ._list-text:before {
  background-position: -5rem -4rem;
}
._icon-haskell ._list-text:before {
  background-position: -6rem -4rem;
}
._icon-requirejs ._list-text:before {
  background-position: -7rem -4rem;
}
._icon-chai ._list-text:before {
  background-position: -8rem -4rem;
}
._icon-sinon ._list-text:before {
  background-position: -9rem -4rem;
}
._icon-cordova ._list-text:before {
  background-position: 0 -5rem;
}
._icon-markdown ._list-text:before {
  background-position: -1rem -5rem;
  @extend %darkIconFix !optional;
}
._icon-django ._list-text:before {
  background-position: -2rem -5rem;
}
._icon-xslt_xpath ._list-text:before {
  background-position: -3rem -5rem;
}
._icon-nginx ._list-text:before,
._icon-nginx_lua_module ._list-text:before {
  background-position: -4rem -5rem;
}
._icon-svg ._list-text:before {
  background-position: -5rem -5rem;
}
._icon-marionette ._list-text:before {
  background-position: -6rem -5rem;
}
._icon-jsdoc ._list-text:before,
._icon-mongoose ._list-text:before {
  background-position: -7rem -5rem;
}
._icon-phpunit ._list-text:before {
  background-position: -8rem -5rem;
}
._icon-nokogiri ._list-text:before {
  background-position: -9rem -5rem;
  @extend %darkIconFix !optional;
}
._icon-rethinkdb ._list-text:before {
  background-position: 0 -6rem;
}
._icon-react ._list-text:before {
  background-position: -1rem -6rem;
}
._icon-socketio ._list-text:before {
  background-position: -2rem -6rem;
}
._icon-modernizr ._list-text:before {
  background-position: -3rem -6rem;
}
._icon-bower ._list-text:before {
  background-position: -4rem -6rem;
}
._icon-fish ._list-text:before {
  background-position: -5rem -6rem;
  @extend %darkIconFix !optional;
}
._icon-scikit_image ._list-text:before {
  background-position: -6rem -6rem;
}
._icon-twig ._list-text:before {
  background-position: -7rem -6rem;
}
._icon-pandas ._list-text:before {
  background-position: -8rem -6rem;
}
._icon-scikit_learn ._list-text:before {
  background-position: -9rem -6rem;
}
._icon-bottle ._list-text:before {
  background-position: 0 -7rem;
}
._icon-docker ._list-text:before {
  background-position: -1rem -7rem;
}
._icon-cakephp ._list-text:before {
  background-position: -2rem -7rem;
}
._icon-lua ._list-text:before {
  background-position: -3rem -7rem;
  @extend %darkIconFix !optional;
}
._icon-clojure ._list-text:before {
  background-position: -4rem -7rem;
}
._icon-symfony ._list-text:before {
  background-position: -5rem -7rem;
}
._icon-mocha ._list-text:before {
  background-position: -6rem -7rem;
}
._icon-meteor ._list-text:before {
  background-position: -7rem -7rem;
  @extend %darkIconFix !optional;
}
._icon-npm ._list-text:before {
  background-position: -8rem -7rem;
}
._icon-apache_http_server ._list-text:before {
  background-position: -9rem -7rem;
}
._icon-drupal ._list-text:before {
  background-position: 0 -8rem;
}
._icon-webpack ._list-text:before {
  background-position: -1rem -8rem;
}
._icon-phaser ._list-text:before {
  background-position: -2rem -8rem;
}
._icon-vue ._list-text:before {
  background-position: -3rem -8rem;
}
._icon-opentsdb ._list-text:before {
  background-position: -4rem -8rem;
}
._icon-q ._list-text:before {
  background-position: -5rem -8rem;
}
._icon-crystal ._list-text:before {
  background-position: -6rem -8rem;
  @extend %darkIconFix !optional;
}
._icon-julia ._list-text:before {
  background-position: -7rem -8rem;
  @extend %darkIconFix !optional;
}
._icon-redux ._list-text:before {
  background-position: -8rem -8rem;
  @extend %darkIconFix !optional;
}
._icon-bootstrap ._list-text:before {
  background-position: -9rem -8rem;
}
._icon-react_native ._list-text:before {
  background-position: 0 -9rem;
}
._icon-phalcon ._list-text:before {
  background-position: -1rem -9rem;
}
._icon-matplotlib ._list-text:before {
  background-position: -2rem -9rem;
}
._icon-cmake ._list-text:before {
  background-position: -3rem -9rem;
}
._icon-elixir ._list-text:before {
  background-position: -4rem -9rem;
  @extend %darkIconFix !optional;
}
._icon-vagrant ._list-text:before {
  background-position: -5rem -9rem;
}
._icon-dojo ._list-text:before {
  background-position: -6rem -9rem;
}
._icon-flow ._list-text:before {
  background-position: -7rem -9rem;
}
._icon-relay ._list-text:before {
  background-position: -8rem -9rem;
}
._icon-phoenix ._list-text:before {
  background-position: -9rem -9rem;
}

._icon-tcl_tk ._list-text:before {
  background-position: 0 0;
  @extend %doc-icon-2;
}
._icon-erlang ._list-text:before {
  background-position: -1rem 0;
  @extend %doc-icon-2;
}
._icon-chef ._list-text:before {
  background-position: -2rem 0;
  @extend %doc-icon-2;
}
._icon-ramda ._list-text:before {
  background-position: -3rem 0;
  @extend %doc-icon-2;
  @extend %darkIconFix !optional;
}
._icon-codeigniter ._list-text:before {
  background-position: -4rem 0;
  @extend %doc-icon-2;
  @extend %darkIconFix !optional;
}
._icon-influxdata ._list-text:before {
  background-position: -5rem 0;
  @extend %doc-icon-2;
  @extend %darkIconFix !optional;
}
._icon-tensorflow ._list-text:before {
  background-position: -6rem 0;
  @extend %doc-icon-2;
}
._icon-haxe ._list-text:before {
  background-position: -7rem 0;
  @extend %doc-icon-2;
}
._icon-ansible ._list-text:before {
  background-position: -8rem 0;
  @extend %doc-icon-2;
  @extend %darkIconFix !optional;
}
._icon-typescript ._list-text:before {
  background-position: -9rem 0;
  @extend %doc-icon-2;
}
._icon-browser_support_tables ._list-text:before {
  background-position: 0rem -1rem;
  @extend %doc-icon-2;
}
._icon-gnu_fortran ._list-text:before {
  background-position: -1rem -1rem;
  @extend %doc-icon-2;
}
._icon-gcc ._list-text:before {
  background-position: -2rem -1rem;
  @extend %doc-icon-2;
}
._icon-perl ._list-text:before {
  background-position: -3rem -1rem;
  @extend %doc-icon-2;
}
._icon-apache_pig ._list-text:before {
  background-position: -4rem -1rem;
  @extend %doc-icon-2;
}
._icon-numpy ._list-text:before {
  background-position: -5rem -1rem;
  @extend %doc-icon-2;
}
._icon-kotlin ._list-text:before {
  background-position: -6rem -1rem;
  @extend %doc-icon-2;
}
._icon-padrino ._list-text:before {
  background-position: -7rem -1rem;
  @extend %doc-icon-2;
}
._icon-angular ._list-text:before {
  background-position: -8rem -1rem;
  @extend %doc-icon-2;
}
._icon-love ._list-text:before {
  background-position: -9rem -1rem;
  @extend %doc-icon-2;
}
._icon-jasmine ._list-text:before {
  background-position: 0 -2rem;
  @extend %doc-icon-2;
}
._icon-pug ._list-text:before {
  background-position: -1rem -2rem;
  @extend %doc-icon-2;
}
._icon-electron ._list-text:before {
  background-position: -2rem -2rem;
  @extend %doc-icon-2;
}
._icon-falcon ._list-text:before {
  background-position: -3rem -2rem;
  @extend %doc-icon-2;
}
._icon-godot ._list-text:before {
  background-position: -4rem -2rem;
  @extend %doc-icon-2;
}
._icon-nim ._list-text:before {
  background-position: -5rem -2rem;
  @extend %doc-icon-2;
  @extend %darkIconFix !optional;
}
._icon-vulkan ._list-text:before {
  background-position: -6rem -2rem;
  @extend %doc-icon-2;
  @extend %darkIconFix !optional;
}
._icon-d ._list-text:before {
  background-position: -7rem -2rem;
  @extend %doc-icon-2;
}
._icon-bluebird ._list-text:before {
  background-position: -8rem -2rem;
  @extend %doc-icon-2;
}
._icon-eslint ._list-text:before {
  background-position: -9rem -2rem;
  @extend %doc-icon-2;
}
._icon-homebrew ._list-text:before {
  background-position: 0 -3rem;
  @extend %doc-icon-2;
}
._icon-jekyll ._list-text:before {
  background-position: -1rem -3rem;
  @extend %doc-icon-2;
}
._icon-babel ._list-text:before {
  background-position: -2rem -3rem;
  @extend %doc-icon-2;
}
